<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_sbu_sal_root"
              name="Billing"
              parent="sbu_estimate.menu_sbu_root"
              sequence="40"/>

    <menuitem id="menu_sbu_sal_sheet"
              name="SAL sheets (customer)"
              parent="menu_sbu_sal_root"
              action="action_sbu_sal_sheet"
              sequence="10"/>

    <menuitem id="menu_sbu_sal_passive_sheet"
              name="Passive SAL (subcontract)"
              parent="menu_sbu_sal_root"
              action="action_sbu_sal_passive_sheet"
              sequence="20"/>

    <menuitem id="menu_sbu_qonto_movements_billing"
              name="Qonto movements"
              parent="menu_sbu_sal_root"
              action="sbu_qonto.action_sbu_qonto_transaction"
              sequence="30"/>
</odoo>
