<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_sbu_purchase_root"
              name="Purchasing"
              parent="sbu_estimate.menu_sbu_root"
              sequence="30"/>

    <menuitem id="menu_sbu_purchase_request_create"
              name="Nuovo documento acquisto"
              parent="menu_sbu_purchase_root"
              action="action_sbu_purchase_request_create_wizard"
              sequence="5"/>

    <menuitem id="menu_sbu_purchase_request"
              name="Richieste acquisto"
              parent="menu_sbu_purchase_root"
              action="action_sbu_purchase_request"
              sequence="10"/>

    <menuitem id="menu_sbu_purchase_request_line"
              name="Righe richiesta (modifica massiva)"
              parent="menu_sbu_purchase_root"
              action="action_sbu_purchase_request_line"
              sequence="15"/>

    <menuitem id="menu_sbu_project_budget_family"
              name="Budget per famiglia"
              parent="menu_sbu_purchase_root"
              action="action_sbu_project_budget_family"
              sequence="20"/>
</odoo>
