<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_sbu_purchase_root"
              name="Purchasing"
              parent="sbu_estimate.menu_sbu_root"
              sequence="30"/>

    <menuitem id="menu_sbu_purchase_request_create"
              name="New purchase document"
              parent="menu_sbu_purchase_root"
              action="action_sbu_purchase_request_create_wizard"
              sequence="5"/>

    <menuitem id="menu_sbu_purchase_request"
              name="Purchase requests"
              parent="menu_sbu_purchase_root"
              action="action_sbu_purchase_request"
              sequence="10"/>

    <menuitem id="menu_sbu_purchase_request_line"
              name="Request lines (bulk edit)"
              parent="menu_sbu_purchase_root"
              action="action_sbu_purchase_request_line"
              sequence="15"/>

    <menuitem id="menu_sbu_project_budget_family"
              name="Budget by family"
              parent="menu_sbu_purchase_root"
              action="action_sbu_project_budget_family"
              sequence="20"/>

    <menuitem id="menu_sbu_delivery_standard"
              name="Delivery standard"
              parent="menu_sbu_purchase_root"
              action="action_sbu_delivery_standard"
              sequence="25"
              groups="base.group_system"/>
</odoo>
